<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Contratame</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="../../../assets/images/mifoto.jpg" alt="profile-picture"></ion-img>
    <ion-card-header class="ion-text-center">
      <ion-card-title>Victor Julio Diaz Arias</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <a href="mailto:victordiaz123julioarias@gmail.com?subject=Contacto">
        <ion-button expand="block">Contactame</ion-button>
      </a>

      <div class="redes-container">
        <h3 class="ion-text-center">Redes Sociales</h3>
        <div class="icons-container">
          <a href="https://github.com/Victor-Diaz15" target="_blank">
            <ion-icon id="github" name="logo-github"></ion-icon>
          </a>
          <a href="https://www.linkedin.com/in/victor-diaz-03432822b/" target="_blank">
            <img src="../../../assets/icon/icons8-linkedin-48.png" alt="logo_Linkedin">
          </a>
          <a href="https://www.instagram.com/victordiaz15_/" target="_blank">
            <img src="../../../assets/icon/icons8-instagram-48.png" alt="logo_instagram">
          </a>
        </div>
      </div>
    </ion-card-content>

  </ion-card>
</ion-content>
