<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">En Mi Vida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h4>Porque esta serie es importante en mi vida?</h4>
  <ion-text>
    La verdad de esta pregunta es que al principio la empece a ver por
    simple entretenimiento.
    <br>
    Pero al pasar el tiempo el mensaje que pude sustraer de esa maravillosa serie,
    es que me da a entender que muchas veces no tenemos el titulo en alguna profesion,
    o la simple aprovacion de algun experto en cualquier area avalando que somos lo suficientemente
    capaz para realizar cualquier tarea o profesion.
    Pero aun asi somos capaces de ejercer ese conocimiento que tenemos de una manera extraordinaria.
    <br>
    Otra de las muchas cosas que me parecieron interesantes, fue la consistencia que mantuvo "Mike Ross",
    ya que es cierto que el tenia un don especial, pero aun asi le hacia falta la experiencia de ejercer como abogado,
    y siempre se mantuvo firme, aprendiendo lo que su mentor "Harvey Spectter" le enseñaba.
    <br>
    Existen muchisimas mas razones por la cual es una de mis serie favorita, pero creo que
    lo que he expresado es la parte mas fundamental de lo que pude aprender de dicha serie.
  </ion-text>

</ion-content>
