<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="https://imgs.search.brave.com/UV2JcBBwe2MLzO6VrlG7EGVUBz5BPeYbIT4_5CsVUFU/rs:fit:632:225:1/g:ce/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5t/eHJDSDVST01pdlJW/aHlYZEhHVDBnSGFG/aiZwaWQ9QXBp" alt="Suits"></ion-img>
  <div style="padding: 10px;">
    <h3 class="ion-text-center">La Ley de los Audaces Suits</h3>
    <p class="ion-text-center">
      Suits es una serie de televisión que sigue a Mike Ross, un joven sin licencia de abogado, que consigue un trabajo en una prestigiosa firma de abogados de Nueva York y se convierte en el asistente del astuto abogado Harvey Specter.
    </p>
  </div>
</ion-content>
