ion-slides {
  height: 100%;
}

.slides-container{
  width: 276px;
  height: 154px;
}

.detalles-container{
  padding: 10px;
}

.click-detail{
  cursor: pointer;
}

.button-container{
  padding: 0 10px 0 10px;
}
